:root{
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
  "h h"
  "m c"
  "f f"
}
.header{
  grid-area: h;
  background-color: blue;
}
.menu{
  grid-area: m;
  background-color: yellow;
}
.content{
  grid-area: c;
  background-color: red;
}
.footer{
  grid-area: f;
  background-color: green;
}
.container > div{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size:2em;
}
.content img{
  max-width: 50%;
  height: auto;
}
/* obratite paznju na redosled */

 @media screen and (max-width:900px){
   :root{
     font-size: 12px;
   }
  .container{
    grid-template-rows: 1fr 2fr 8fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "h"
    "m"
    "c"
    "f"
  }
}
@media screen and (max-width:500px){
:root{
  font-size: 8px;
}
.content{
  background-color: black;
}
}
